.header__info{
    color: var(--brand-color);
    font-weight: bold;
}
.header__info-contacts{
    font-style: normal;
}
.header__info-link{
    color: var(--brand-color);

}
.header__menu-item-link{
color: var(--header-link-color);
font-weight: 600;
}
.header__socials-item{
    border-radius: 50%;
    background-color: var(--button-text-color2);
}
.header__socials-item-img{
    max-width: 100%;
}