/*volodymyr-kurylin__block-12*/
:root {
  --footer-background-color: #f9f4f2;

  --ui-caption-tablet-letter-spacing: 0;
  --ui-caption-mobile-letter-spacing: 0;
  --ui-caption-tablet-line-height: 1.4285;
  --ui-caption-mobile-line-height: 1.4285;
  --ui-caption-size-tablet: 14px;
  --ui-caption-size-mobile: 15px;
  --ui-caption-text-transform: none;

  --ui-caption-color: #958b7e;
  --ui-caption-color-light: #fff;
  --ui-caption-tablet-size: 14px;
  --ui-caption-mobile-size: 15px;
  --ui-caption-font-style: normal;
  --ui-caption-text-decoration: none;
  --ui-caption-coefficients-320-px: 1;
  --ui-caption-letter-spacing: 0;

  --ui-dark-shade-color: #f9f4f2; /*#3c3731;*/
}

.footer {
  /* Стилі для футера */
}

.footer__container {
  /* Стилі для контейнера футера */
  background-color: var(--footer-background-color);
}

.footer__block {
  /* Стилі для блока в футері */
}

.footer__block-logo {
  /* Стилі для логотипу в блоку футера */
}

.footer__block-text {
  /* Стилі для тексту в блоку футера */
}

.footer__block-email {
  /* Стилі для посилання на email в блоку футера */
}

.footer__block-socials {
  /* Стилі для соціальних мереж в блоку футера */
}

.footer__block-socials-item {
  /* Стилі для елементів соціальних мереж в блоку футера */
}

.footer__column {
  /* Стилі для колонок в футері */
}

.footer__column-title {
  /* Стилі для заголовків колонок в футері */
}

.footer__column-divider {
  /* Стилі для роздільників у колонках футера */
}

.footer__links {
  /* Стилі для посилань в футері */
}

.footer__link-item {
  /* Стилі для елементів посилань в футері */
}

.footer__link {
  /* Стилі для посилань в футері */
}

.footer__bottom {
  background-color: rgb(242, 232, 228);
}

.bottom__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.bottom__left,
.bottom__right {
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--ui-caption-color);
  text-transform: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .bottom__inner-container {
    flex-direction: column;
    text-align: center;
  }

  .bottom__left,
  .bottom__right {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .bottom__text-left {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .bottom__text-right {
    font-size: 14px;
  }
}