/*volodymyr-kurylin__block-12*/
.footer {
  flex: 1;
}

.footer__container {
  background-color: var(--footer-background-color);
  display: flex;
}
@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
  }
}

.footer__block {
  /*1st out of 4 blocks (part of future grid)*/
  display: flex;
  flex-direction: column;
  /*flex-grow: 1;*/
  /*width: 25%;*/
}
@media (max-width: 767px) {
  .footer__block {
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer__block {
    align-items: start;
  }
}

.footer__block-logo {
  width: 193px;
}

.footer__block-text {
  /* Стилі для тексту в блоку футера */
}

.footer__block-email {
  /* Стилі для посилання на email в блоку футера */
}

.footer__block-socials {
  display: flex;
  flex-direction: row;
  /*align-items: end;
  align-content: space-around;
  width: 100%;*/
}

.footer__block-socials-item {
  width: 31px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #45c1c7;
}

.footer__column {
  /* Стилі для колонок в футері */
}

.footer__column-title {
  /* Стилі для заголовків колонок в футері */
}

.footer__column-divider {
  /* Стилі для роздільників у колонках футера */
}

.footer__links {
  /* Стилі для посилань в футері */
}

.footer__link-item {
  /* Стилі для елементів посилань в футері */
}

.footer__link {
  /* Стилі для посилань в футері */
}

.footer__bottom {
  background-color: rgb(242, 232, 228);
}

.bottom__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bottom__left,
.bottom__middle,
.bottom__right {
  font-family: var(--primary-font);
  font-weight: 700;
  color: var(--ui-caption-color);
  text-transform: none;
  display: flex;
  width: calc(100%+20px);
}

.bottom__middle {
  min-height: 32px;
}
/*
@media (min-width: 768px)
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -5px;
}
*/

@media (max-width: 767px) {
  .bottom__inner-container {
    flex-direction: row;
    /*text-align: center;*/
  }

  .bottom__left {
    justify-content: start;
  }
  .bottom__right {
    justify-content: end;
  }
}

@media (max-width: 767px) {
  .bottom__text-left {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .bottom__text-right {
    font-size: 14px;
  }
}
