@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*
* {
  outline: 1px solid red;
}
*/

/*list of font variations used on site (temporary)*/
/*
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 400;
  font-weight: 700;
*/
/*
  font-family: "PT Sans";
  font-style: normal;
  font-style: italic;
  font-weight: 400;
  font-weight: 700;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  /*
  --text-color: black;
  --accent-color: #a5c7cf;
  --border-color: black;
  */

  --primary-font: "PT Sans", sans-serif;
  --secondary-font: "Baloo 2", cursive;
  font-family: var(--primary-font);

  --brand-color: #ed6435;

  --main-bg-color: #faf4f2;
  --title-text-color: #3c3731;
  --basic-text-color: #958b7e;
  --header-link-color: #6b6b6b;
  --header-info-bg-color: #f2e8e4;
  --button-text-color1: #ed6435;
  --button-text-color2: #45c1c7;
  --button-bg-color1: #ffe6d4;
  --button-bg-color2: #b2e7e9;
  --button-bg-hover-color: #32a1a7;
  --button-burger-color: #3c3731;
  --testimonials-header-title-color: #3d3730;
  --testimonials-header__paragraph-color: #b5aea6;
  --testimonials-border-color: #ffeee2;
  --testimonials-carousel__description-color: rgb(237, 100, 53);
  --testimonials-carousel__review-color: rgb(179 179 179);
  --testimonials-carousel__date-color: #3c3731;
  --testimonials-carousel__button-border-color: rgb(113, 113, 113);
  --testimonials-carousel__button-bg-color: rgb(69, 69, 69);
  --arrivals__arrow-button: #686560;
  --arivals__price-color: #ed6435;
  --arivals__button-color: #b2e7e9;

  /*footer variables*/
  /*under construction - SKIP THIS*/
  --footer-background-color: #f9f4f2;

  --ui-caption-tablet-letter-spacing: 0;
  --ui-caption-mobile-letter-spacing: 0;
  --ui-caption-tablet-line-height: 1.4285;
  --ui-caption-mobile-line-height: 1.4285;
  --ui-caption-size-tablet: 14px;
  --ui-caption-size-mobile: 15px;
  --ui-caption-text-transform: none;

  --ui-caption-color: #958b7e;
  --ui-caption-color-light: #fff;
  --ui-caption-tablet-size: 14px;
  --ui-caption-mobile-size: 15px;
  --ui-caption-font-style: normal;
  --ui-caption-text-decoration: none;
  --ui-caption-coefficients-320-px: 1;
  --ui-caption-letter-spacing: 0;

  --ui-dark-shade-color: #f9f4f2; /*#3c3731;*/
  /*footer variables*/
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  /*overflow: hidden;*/
}

a {
  text-decoration: none;
}
