.brands{
    background-color: #faf4f2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
 }
 
 
 .promo-container--discounts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    gap: 30pt;
    padding-bottom: 15px;
 }
 
 
 promo-box--save10, .promo-box--treats {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative;
    max-width: 719px;
    margin-bottom: 30px;
 }
 
 
 .promo-box--save10 {
    background-image: url("../img/brands/gold_fish_under_water.png");
    background-size: cover;
    background-position: bottom;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 
 
 .promo__title--save10 {
    position: relative;
    color: #000;
    margin: 3px 0;
    padding-top: 20px;
    padding-bottom: 30px;
 }
 
 
 
 .promo__title--save10 span {
    color: #ED6435;
 }
 
 
 .promo-link--discover span {
    color: #46C1C7;
 }
 
 
 /* Styling links */
 .promo-link--discover {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding-top: 50px;
 }
 
 
 .promo-box--treats {
    background-image: url("../img/brands/pet_leash_pet_brush_and_pet_toy.png");
    height: 322px;
    justify-content: flex-start;
    background-size: cover;
    background-position: 70% 50%;
    text-align: left;
    padding-top: 30px;
    padding-left: 40px;
 }
 
 
 .promo__title--bestpicks {
    position: relative;
    color: #000;
    margin: 3px 0;
 }
 
 
 .promo__subtitle--toys, .promo__price {
    position: relative;
    color: #84939B;
    margin: 5px 0;
    padding-top: 10px;
    padding-bottom: 30px;
 }
 
 
 .promo__title--save10 span, .promo__price span {
    color: #ED6435;
 }
 
 
 .promo-button--learnmore {
    display: inline-block;
    width: 120px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    color: #ED6435;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ED6435;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
 }
 
 
 .car__track-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative;
    box-sizing: border-box;
 }
 

 
 @media (min-width: 769px) {
    .promo-container--discounts {
        flex-direction: row;
        justify-content: space-evenly;
    }
 
 
    .promo-box--save10, .promo-box--treats {
        width: auto;
        max-width: 35vw;
        max-height: 303px;
        min-width: 35vw;
        min-height: 339px;
     }
 }
 
 
 @media (max-width: 768px) {
    .promo-box--save10, .promo-box--treats {
        width: 90vw;
        max-width: 719px; 
    }
 }

 
 .car.container--brands {
   display: flex;
   overflow-x: hidden; 
   padding: 5px 0; 
   white-space: nowrap; 
   max-width: 100%;
   align-items: center;
}
.car__track--container {
   display: flex;
   position: relative;
   overflow: auto;
   scrollbar-width: none;
}

.car__track {
   display: flex;
   position: relative;
   list-style-type: none; 
   padding: 0; 
   margin: 0; 
   overflow: hidden;
}

.car__brandslide {
   display: flex; 
   justify-content: center; 
   align-items: center; 
   width: calc((100vw - (30px * 5)) / 6);
   max-width: 159px;
   max-height: 83px;
   background-color: #FFE6D4; 
   padding: 22px; 
   box-sizing: border-box; 
   margin-right: 30px; 
   overflow: hidden;
}
.car__brandslide:last-child {
   margin-right: 0; 

.car__image {
   width: auto; 
   height: auto; 
   max-width: 80%; 
   max-height: 80%; 
   margin: auto; 
   display: block; 
}

@media (min-width: 1276px) {
   .car__brandslide {
       width: calc(100vw / 6);
       max-width: 149px;
       max-height: 83px;
   }
}

@media (max-width: 1275px) and (min-width: 992px) {
   .car__brandslide {
       width: calc(100vw / 6); 
       min-width: 49px;
       min-height: 29px;
       max-width: 149px;
       max-height: 83px;
   }
}
/* Between 765px and 991px */
@media (max-width: 991px) and (min-width: 766px) {
   .car__brandslide {
       width: calc(80vw / 3); 
       min-width: 80px;
       min-height: 44px;
       max-width: 109px;
       max-height: 58px;
   }
}

@media (max-width: 765px) and (min-width: 481px) {
   .car__brandslide {
       width: calc(100vw / 2); 
       min-width: 71px;
       min-height: 40px;
       max-width: 128px;
       max-height: 67.5px;
   }
}

@media (max-width: 480px) {
   .car__brandslide {
       width: calc(100vw / 1); 
       min-width: 97.5px;
       min-height: 53px;
       max-width: 152px;
       max-height: 79px;
   }

}

.carousel__button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: none;
   border: none;
   font-size: 24px;
   color: #625d57;
   z-index: 10;
}


.carousel__button--left {
   left: 15vw; 
}


.carousel__button--right {
   right: 15vw; 
}
