.recommendations__title {
  color: var(--title-text-color);
  font-size: 50px;
  text-align: center;
  margin-bottom: 15px;
  font-family: var(--secondary-font);
}
.recommendations__icon {
  width: 72px;
  display: block;
  margin: 0 auto;
}
.recommendations__description {
  color: var(--basic-text-color);
  font-size: 19px;
  text-align: center;
  margin-top: 20px;
}
.recommendations__categories {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid var(--testimonials-header__paragraph-color);
}
.recommendations__category {
  padding: 15px 20px;
  font-size: 17px;
  text-decoration: none;
  color: var(--basic-text-color);
  font-weight: 700;
}

.recommendations__category:hover {
  color: var(--title-text-color);
}

.recommendation__store {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.recommendations__image-container {
  flex: 2;
}
.recommendations__image {
  width: 272px;
}

@media (min-width: 500px) {
  .recommendations__image {
    width: 760px;
  }
}

.recommendations__promo {
  background-color: url(../img/recommendation/recommendation_background.png);
  flex: 1;
  background-size: cover;
  width: 400px;
  margin-left: 20px;
  padding: 10px;
  font-family: var(--secondary-font);
  font-weight: 600;
}

.recommendations__promo-title {
  color: var(--brand-color);
  font-size: 15px;
}

.recommendations__promo-description {
  color: var(--title-text-color);
  font-size: 32px;
}

.recommendations__promo-link {
  font-size: 17px;
  color: var(--basic-text-color);
}

.recommendations__promo-list {
  font-size: 15px;
}
