/* Няйко Анастасія */
.section__arrivals {
  padding-top: 90px;
  padding-bottom: 90px;
  overflow-x: hidden;
}

.arrivals__title {
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--title-text-color);
  font-size: 32px;
  padding-bottom: 25px;
  font-weight: bold;
}

.arrivals__icon {
  width: 72px;
  margin: 0 auto;
}

.arrivals__subtitle {
  text-align: center;
  font-size: 19px;
  color: var(--basic-text-color);
  padding-top: 20px;
  padding-bottom: 45px;
}

.arrivals__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.arrivals__carousel-arrow {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  position: absolute;
  top: 50%;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.arrivals__carousel-slide {
  flex: 0 0 auto;
  margin: 0 10px;
  text-align: center;
}

.arrivals__carousel-slides {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.arrivals__carousel-image {
  max-width: 250px;
  display: block;
}

.arrivals__carousel-href {
  color: var(--basic-text-color);
  font-size: 18px;
  margin: 8px 0 0;
  display: block;
}

.arrivals__carousel-href:hover {
  text-decoration: underline;
}

.arrivals__carousel-price {
  color: var(--arivals__price-color);
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
}

.arrivals__carousel-button {
  background-color: var(--arivals__button-color);
  color: var(--button-text-secondary-color);
  border-radius: 25px;
  padding: 16px 5px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  font-weight: 700;
}

.arrivals__carousel-button:hover {
  background-color: var(--button-bg-primary-color);
  color: var(--arivals__price-color);
}

@media (min-width: 767px) {
  .arrivals__carousel {
    grid-template-columns: 1fr, 1fr;
  }

  .arrivals__carousel-image {
    min-width: 330px;
  }
}

@media (min-width: 767px) {
  .arrivals__carousel {
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  }

  .arrivals__carousel-image {
    min-width: 202px;
  }
}
