/*Diana Zotsenko__block 10*/

.dry-food__content h2 {
  font-family: "Baloo 2", cursive;
  font-size: 50px;
  text-align: center;
}

.dry-food__description {
  font-family: "PT Sans", sans-serif;
  font-size: 19px;
  text-align: center;
}

.dry-food__bone-icon {
  width: 209px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}

.dry-food__product-icon {
  max-width: 120px;
}

.dry-food__products {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@media (min-width: 768px) {
  .dry-food__products {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .dry-food__products {
    grid-template-columns: 1fr 1fr 1fr;
    }
}