

.arrivals__title {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 30px;
    color: var(--title-text-color);
}

.arrivals__icon {
    justify-content: center;
}

.arrivals__subtitle {
    text-align: center;
    font-size: 19px;
    color: var(--basic-text-color);
}

.arrivals__carousel-arrow {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    border: none;
}

.arrivals__carousel-slide {
    display: inline-block;
}

@media (min-width: 600px) {

}

.arrivals__carousel-image {
    height: 242px;
    width: 242px;
}

.arrivals__carousel-href {
    color: var(--basic-text-color);
    font-size: 18px;
    margin: 8px 0 0;
}

.arrivals__carousel-href:hover {
    text-decoration: underline;
}

.arrivals__carousel-price {
    color: var();
}

.arrivals__carousel-button {
    color: var();
}