/*Andrii Chemisov block 3*/

.about-us
{
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.__text-explanation {
    display: block;
    font-size: 1.5em;
    font-weight: bold;

}

@media (min-width: 501px) 
{
}