/* Няйко Анастасія */

.section-arrivals {
  padding-top: 90px;
  padding-bottom: 90px;
}

.arrivals__title {
  line-height: 1.2;
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--title-text-color);
  font-size: 30px;
}

.arrivals__icon {
  margin-top: 25px;
}

.arrivals__subtitle {
  text-align: center;
  font-size: 19px;
  color: var(--basic-text-color);
}

.arrivals__carousel-slides {
  display: grid;
  position: relative;
  gap: 25px;
}

.arrivals__carousel-image {
  height: 242px;
  width: 242px;
}

.arrivals__carousel-href {
  color: var(--basic-text-color);
  font-size: 18px;
  margin: 8px 0 0;
}

.arrivals__carousel-href:hover {
  text-decoration: underline;
}

.arrivals__carousel-price {
  color: var(--arivals__price-color);
  font-weight: 700;
}

.arrivals__carousel-button-text {
  color: var(--button-text-secondary-color);
  font-weight: 700;
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
}
