
.bone-icon{
    width: 5vw;
    height: auto;
    display: flex;
    align-items: center;
}

.carrousel__slide{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex; 
}
.carousel-arrow {
    width: 36px;
    height: auto; 
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    position: relative;
}

.food-section{
    background-color: var(--background-color);
    display: flex;
    gap: 5vw;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}

.food-section__block {
    align-items: center;
    background-image: url("../img/food-stuff-products/food-section-bg.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    text-align: left;
    width: 90vw;
    height: 20vw;
}

.stuff-section__block{ 
    align-items: center;
    display: flex;
    text-align: left;
    padding: 1rem;
    background-image: url("../img/food-stuff-products/stuff-section-bg.webp");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    width: 90vw;
    height:20vw;
}


@media(min-width: 500px){
    .food-section{
        flex-direction: row;
        
    }

    .food-section__block, .stuff-section__block{
        width: 45vw;
        min-height: 30%;
        flex-grow: 1;
        justify-content: space-around;
    }
}

.highlighted-text{
    font-size: 70%;
    font-family: --secondary-font;
    color: var(--brand-color);
    font-weight: bold;
}

.block-header{
    font-family: var(--secondary-font);
    font-size: 120%;
    color: var(--title-text-color);
}

.block-header-bright{
    font-family: var(--secondary-font);
    font-size: 120%;
    color: var(--brand-color);
}

.action-link{
    background-color: var(--button-bg-color-light);
    border-radius: 20px;
    width: 18vw;
    flex: 0 1 auto;
    height: 40px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    position: relative;
    padding: 4%;
    border: 80px;
    border-color: var(--brand-color);
    color: var(--brand-color);
}