.hero {
  background: url(../img/header-footer/hero-bg.png) 75% / cover no-repeat
    var(--main-bg-color);
  padding: 60px 15px 150px;
  margin-bottom: 30px;
  position: relative;
}
.hero__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero__title {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  color: var(--title-text-color);
  max-width: 60%;
}
.hero__subtitle {
  max-width: 50%;
}
.hero__buttons {
  display: flex;
  gap: 10px;
}
.hero__special-button {
  background-color: transparent;
  color: var(--button-text-secondary-color);
  border: 1px solid var(--button-text-secondary-color);
}
.hero__special-button:hover {
  color: white;
  background-color: var(--button-text-secondary-color);
}
.paw-step::before,
.paw-step::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0.5;
  top: -30px;
  width: 30px;
  height: 30px;
  transform: rotate(-25deg);
  background: url(../img/header-footer/paw.svg) center / contain;
  animation: walk 14s steps(14, end) 2;
}
.paw-step::before {
  right: 0;
  transform: rotate(25deg);
  animation: walk 14s steps(14, start) 0.3s 2;
}
.paw-step {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  animation: direction 14s linear 14s;
}

@keyframes walk {
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh);
  }
}
@keyframes direction {
  0%,
  100% {
    transform: rotate(50deg);
  }
}

@media (min-width: 600px) {
  .hero__title {
    font-size: 3.5rem;
    line-height: 3.5rem;
    max-width: 70%;
  }
}
@media (min-width: 900px) {
  .hero {
    background: url("../img/header-footer/hero-bg.png") center / cover no-repeat
      var(--main-bg-color);
    padding: 100px 24px 300px;
    margin-bottom: 60px;
  }
  .hero__title {
    font-size: 5.1rem;
    line-height: 5.1rem;
    max-width: 570px;
  }
  .hero__subtitle {
    max-width: 100%;
  }
  .hero__buttons {
    gap: 20px;
  }
}
