.promotion {
  background-image: url(../img/promotion-background.png);
  background-size: cover;
  min-height: 570px;
  display: flex;
}

.promotion__prom {
  font-size: 14px;
  color: var(--button-text-color2);
  font-weight: bold;
  text-transform: uppercase;
}
.promotion__title {
  font-size: 82px;
  font-family: var(--secondary-font);
  font-style: normal;
  color: var(--title-text-color);
}
.promotion__text-content {
  font-size: 19px;
  color: var(--basic-text-color);
}
.promotion__text-content-percent {
  color: var(--brand-color);
  font-weight: bold;
}

#promotion__timer {
  display: flex;
}

.promotion__timer-days,
.promotion__timer-hours,
.promotion__timer-minutes,
.promotion__timer-seconds {
  border: 1px solid #45c1c7;
  border-radius: 10px;
  font-size: 18px;
  color: var(--title-text-color);
  font-weight: 400;
  padding: 10px;
  margin: 5px;
}

.transparent-text {
  color: rgba(0, 0, 0, 0.54);
}

.timer-digit {
  font-family: "Baloo 2", cursive;
  font-size: 36px;
  font-weight: 700;
  color: var(--title-text-color);
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: var(--button-text-color2);
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 16.5px;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn {
  background:var(--button-bg-color2);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  border-radius: 20px;
}
.btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}


.btn:hover {
  color:var(--button-bg-color1);
  box-shadow: none;
}


