/* Kaliuzhnyi Oleh*/
.articles_container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.articles__title {
  font-family: var(--secondary-font);
  text-align: center;
  font-size: 30px;
  color: var(--title-text-color);
}
.articles_container .articles__header .articles_bone-img {
  width: 210px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}
.articles__description {
  font-family: var(--primary--font);
  text-align: center;
  font-size: 16px;
  color: var(--basic-text-color);
  margin-top: 25px;
  margin-bottom: 25px;
}
.articles_container .articles__content {
  display: grid;
  margin-top: 50px;
  width: auto;
  grid-template-columns: 1fr;
  grid-row-gap:20px;
}
.articles__content .article {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  
}
.articles__content .article__image {
  width: 100%;
  height: auto;
}
.articles__content .article__title {
  font-family: var(--secondary-font);
  text-align: left;
  font-size: 22px;
  color: var(--title-text-color);
}
.articles__content .article__content {
  font-family: var(--primary--font);
  text-align: left;
  font-size: 17px;
  color: var(--basic-text-color);
  margin-top: 10px;
  margin-bottom: 10px;
}
.articles__content .article__link {
  font-family: var(--primary--font);
  text-align: left;
  font-size: 15px;
  color: var(--basic-text-color);
  transition: color 0.3s;
}
.articles__content .article__link:hover {
  color: #ed6435;
  .article__link-text {
    text-decoration: underline;
  }
}
