/*volodymyr-kurylin__block-15*/
.call-us__grid-background {
  background-color: var(--call-us-background-color);
}

.call-us__grid {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 90px;
  padding-bottom: 25px;
  margin: auto;
  align-items: center;

  @media (min-width: 768px) {
    grid-template-columns: 5fr 4fr 3fr;
    padding-top: 95px;
  }
}

.call-us__grid-item {
  padding: 0px 15px;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.call-us__phone-number {
  font-weight: 700;
  text-decoration: none;
}

.call-us__title {
  color: var(--call-us__title-color);
  font-size: 15px;
  font-family: var(--primary-font);
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.call-us__link-tel {
  color: var(--brand-color);
  font-size: 30px;
  font-family: var(--secondary-font);
  transition: 0.2s;

  @media (min-width: 768px) {
    font-size: 44px;
    line-height: 1;
  }
  @media (min-width: 992px) {
    font-size: 50px;
  }
}
.call-us__link-tel:hover {
  text-decoration: underline;
}

.call-us__subscribe-suggestion {
  font-size: 15px;
  font-family: var(--primary-font);
  text-decoration: none;
  margin-top: 50px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
}

.call-us__subscribe-text {
  color: var(--call-us__text-color);
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.call-us__sale-week-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-size: 15px;
  font-family: var(--primary-font);
  font-weight: 700;
  text-decoration: none;
}

.call-us__link-sale-week {
  @media (min-width: 768px) {
    padding-top: 20px;
    font-size: 14px;
  }
}
.call-us__link-sale-week:hover {
  text-decoration: underline;
}

.call-us__link-sale-week-text {
  color: var(--call-us__link-sale-week-color);
}

.call-us__arrow {
  color: var(--call-us__arrow-color);

  @media (min-width: 768px) {
    font-size: 14px;
  }
}
.call-us__arrow:hover {
  text-decoration: underline;
}

.call-us__sale-week-countdown {
  margin-left: 42px;
  animation: color-change 15s infinite;
}
@keyframes color-change {
  0% {
    color: var(--call-us-background-color);
  }
  7% {
    color: var(--call-us__title-color);
  }
  14% {
    color: var(--call-us__text-color);
  }
  21% {
    color: var(--call-us__link-sale-week-color);
  }
  28% {
    color: var(--call-us__arrow-color);
  }
  35% {
    color: var(--call-us__input-backround-color);
  }
  42% {
    color: var(--call-us__button-backround-color);
  }
  49% {
    color: var(--call-us__button-backround-hover-color);
  }
  56% {
    color: var(--call-us__button-text-hover-color);
  }
  63% {
    color: var(--footer__grid-background-color);
  }
  70% {
    color: var(--footer__copyright-background-color);
  }
  77% {
    color: var(--footer__info-nav-links-item-background-color);
  }
  84% {
    color: var(--footer__info-nav-links-item-background-hover-color);
  }
  91% {
    color: var(--footer__link-hover-color);
  }
  100% {
    color: var(--call-us-background-color);
  }
}

.call-us__subscribe-form {
  margin-top: 50px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.call-us__form {
  display: flex;
  flex-direction: column;
}

.call-us__input {
  background-color: var(--call-us__input-backround-color);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  margin-top: 12px;
}

.call-us__button {
  font-family: var(--primary-font);
  font-size: 15px;
  background-color: var(--call-us__button-backround-color);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  margin-top: 24px;
  cursor: pointer;
  color: var(--brand-color);
  font-weight: 700;
  transition: 0.2s;
}
.call-us__button:hover {
  background-color: var(--call-us__button-backround-hover-color);
  color: var(--call-us__button-text-hover-color);
}
