@media (max-width: 500px) {
    
.slider__container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buyspace__main{
    max-width: 200px;
    max-height: 298px;
}
.slide__item{

    font-family: "Baloo 2", sans-serif;
    font-weight: 400;
   width: 256px;
}
.buyspace__stock-text{
    font-family: "Baloo 2", sans-serif;
    font-weight: 400;
    color: green;
    margin: 5px;
    
}
.buyspace__maintext{
    font-family: "Baloo 2", sans-serif;
    
    font-size: 15px;
    margin: 5px;
}
.product__code{
    font-family: "Baloo 2", sans-serif;
    font-weight: 400;
    font-size: 8px;
    margin: 4px;
}
.input__main{
    max-width: 10px;
    margin-right: 3px;
}
.buyspace__addcard{
    font-family: "Baloo 2", sans-serif;
    background-color: #FFE6D4;
    min-width: 175px;
    color: #ED6435;
    border: 0px;
    background-color: oran;
    border-radius: 10px;
}
.buyspace__text{
    font-family: "Baloo 2", sans-serif;
    font-size: 9px;
    margin: 5px;
}


}



