.container{
    max-width: 1200px;
    margin: 0 auto;
    
}
.product-details{
    margin-top: 100px;
    width: 100%;
}
.grid-wrapper{
    display: flex;
    width: 100%;
    margin-bottom: 150px;
    flex-direction: row;
}
@media (max-width: 768px) {
    .grid-wrapper{
        flex-direction: column;
    }
    .container__corousel-image-small{
        width: 60px !important;
        margin-left: 32px;
    }
}
.container__link{
    padding-left: 15px;
    margin-bottom: 50px;
}
.container__link-home{
    color: black;
    font-size: 17px;
}
.container__link-home:hover{
    color: red;
}
.container__corousel-arrow img{
    width: 14px;
    height: 26px;
}
.container__corousel{
    display:flex;
    max-width: 100%;
}
.container__corousel-image{
    width: 100%;
}
.container__corousel-arrow{
    display: flex;
    width: 100%;
    max-width: 50px;
    justify-content: center;
    align-items: center;
}
.container__corousel-arrow:hover{
    cursor: pointer;
}
.container__corousel-image-small{
    width: 100px;
    margin-top: 20px;
    border: 1px solid black;
}
.container__stock-status{
    color: rgb(11, 172, 11);
    font-size: 17px;
}
.container__product-name{
    font-size: 22px;
    color: black;
    padding-bottom: 13px;
}
.container__product-code{
    font-size: 13px;
    padding-bottom: 25px;
}
.container__product-price{
    padding-bottom: 29px;
    margin-bottom: 25px;
}
.container__cart-amount{
    display: inline-flex;
    max-width: 64px;
    padding: 12px 6px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    width: 5px;
}
.container__cart-button{
    color: rgb(240, 161, 96);
    font-size: 15px;
    background-color: #f8d3b1;
    border: none;
    width: 75%;
    padding: 8px 12px;
    border-radius: 29px;
    transition: ease-in-out 0.25s;
}

.container__cart-button:hover{
    cursor: pointer;
    background-color: rgb(168, 228, 228);
    color: rgb(12, 90, 104);
}
.container__cart{
    border-top: 1px solid rgb(216, 216, 216);
    padding-top: 22px;
}
.container__description-title{
    font-size: 12px;
    color: black;
    margin-top: 31px;
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-top: 22px;
    padding-bottom: 7px;
    font-weight: 600;
}
.container__description-content{
    font-size: 17px;
    font-weight: 400;
    margin-top: 25px;
}
.red-line{
    border-bottom: 2px solid red;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
.container__right-side{
    margin-left: 48px;
}