<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Store</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="assets/css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="assets/js/timer.js"></script>
  </head>

  <body>
    <header
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="common.header-nav.partial.html"
    >
      <!--Новікова-->
    </header>

    <main>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.hero.partial.html"
      >
        <!--Новікова-->
      </section>

      <!--Марченко-->

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.food-and-stuff.partial.html"
      ></section>

      <!--Мачіха-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.trending-products.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.brands.partial.html"
      >
        <!--Кундукова-->
      </section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.new-arrivals.partial.html"
      >
        <!--Няйко-->
      </section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.promotion.partial.html"
      >
        <!--Леонович-->
      </section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.recommendations.partial.html"
      >
        <!--Дерев'янко-->
      </section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.testimonials.partial.html"
      >
        <!--Наконечний-->
      </section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.dry-food.partial.html"
      >
        <!--Зоценко-->
      </section>

      <!--Калюжний-->
    </main>

    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.call-us.partial.html"
    >
      <!--Курилін-->
    </section>

    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="common.footer.partial.html"
    >
      <!--Курилін-->
    </footer>
  </body>
</html>
