@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*@import "google-fonts.css";*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #faf4f2;
  --title-text-color: #3c3731;
  --basic-text-color: #958b7e;
  --brand-color: #ed6435;
  --header-link-color: #6b6b6b;
  --button-text-color1: #ed6435;
  --button-text-color2: #45c1c7;
  --button-bg-color1: #ffe6d4;
  --button-bg-color2: #b2e7e9;
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
  display: block;
  width: 100%;
}