.section__arrivals {
    padding: 90px 0;
}

.arrivals__title {
    text-align: center;
    font-size: 30px;
    color: var(--title-text-color);
}

.arrivals__icon {
    justify-content: center;
    height: 32px;
}
