.promotion{
  background-image: url(promotion-background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.promotion__prom {
  font-size: 14px;
  color: #45c1c7;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.promotion__title {
  font-size: 82px;
  font-family: "Baloo 2", cursive;
  font-style: normal;
  color: #3c3731;
}
.promotion__text-content {
  font-size: 19px;
  color: #958b7e;
  font-family: "PT Sans", sans-serif;
}
.promotion__text-content-percent {
  color: rgb(255, 94, 0);
  font-weight: bold;
}

.promotion__timer {
  font-size: 60px;
  color: #333;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  transition: all 0.3s ease;
  font-size: 16.5px;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn{
  background: rgb(0, 190, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn:before,
.btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn:before {
  height: 0%;
  width: 2px;
}
.btn:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover {
  background: transparent;
  box-shadow: none;
}
.btn:hover:before {
  height: 100%;
}
.btn:hover:after {
  width: 100%;
}
.btn span:hover {
  color: #45c1c7;
}
.btn span:before,
.btn span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}
.btn span:before {
  width: 2px;
  height: 0%;
}
.btn span:after {
  width: 0%;
  height: 2px;
}
.btn span:hover:before {
  height: 100%;
}
.btn span:hover:after {
  width: 100%;
}
