.recommendations__title{
    color: var(--title-text-color);
    font-size: 50px;
    text-align: center;
}
.recommendations__icon{
    text-align: center;
}
.recommendations__description{
    color: var(--basic-text-color);
    font-size: 19px;
    text-align: center;
}
.recommendations__categories{
    display: flex;
    text-align: center;
}
.recommendations__category{
    padding: 15px 20px;
    font-size: 19px;
    text-decoration: none;
    color: var(--basic-text-color);
}

.recommendations__category:hover{
    color: var(--title-text-color);
}

/* .recommendations__image{
    width: 272px;
}

@media (min-width: 500px){
    .recommendations__image{
        width: 460px;
    }
    .recommendations__promo{
        display: flex;
    }
} */

.recommendations__promo{
    background-color: url(../../img/recommendation/recommendation_background.png);
    float: right;
    width: 400px;
}

.recommendations__promo-title{
    color: var(--brand-color);
}

.recommendations__promo-description{
    color: var(--title-text-color);
    font-size:32px;
}

.recommendations__promo-link{
    font-size:17px;
    color: var(--basic-text-color);
}

.recommendations__promo-list{
    font-size:15px;
}